<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="lab.and402.nhut.and402lab2_cloudbackup"
    android:installLocation="auto">
    <uses-sdk
        android:minSdkVersion="8" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:backupAgent="BackUpClass"
        >
        <activity android:name=".MainActivity">
            <meta-data android:name="com.google.android.backup.api_key"
                android:value="AEdPqrEAAAAI_Xg9gBi2s92Mk4uPiKFV8mrElwKYi_C8p10mKw" />
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>